@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lemon&family=Open+Sans:wght@800&family=Poppins:wght@900&family=Rubik+Doodle+Shadow&display=swap');

body{
    /* background-image: url(images/chapter.jpg); */
    background-color: rgb(255, 255, 255); 
    height: 100vh;
    width: 100%;
}

#chapter-select{
    margin: 10px 20px;
    width: 300px;
    height: 30px;
    background-color: transparent;
    backdrop-filter: blur(1px);
    background-color:  rgb(97, 5, 5);
    color: white;
    font-family: lemon;
}

.chapter-holder{
    margin: 40px 0px 0px 0px ;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    place-content: center;


}

.chapters{
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(205, 203, 203);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    margin-block: 10px;
    text-decoration: none;
    border-radius: 3px;
}

@media (max-width: 480px) {
  .chapter-holder{
    grid-template-columns: repeat(2, 200px);
    width: 90%;
    place-content: initial;

    margin-left:  10px;
   
  }
  #chapter-select{
    margin: 10px 10px;
  }

  .chapters{
    width: 150px;
    height: 27px;
    font-size: 13px;
  }
}

/* Media query for iPads and Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .chapter-holder{
    grid-template-columns: repeat(3, 300px);
    width: 90%;
    place-content: initial;

    margin-left:  10px;
   
  }
  #chapter-select{
    margin: 10px 10px;
  }

  .chapters{
    width: 180px;
    height: 30px;
    font-size: 16px;
  }
}
