@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lemon&family=Open+Sans:wght@800&family=Poppins:wght@900&family=Rubik+Doodle+Shadow&display=swap');

body{
    background-color: rgb(255, 255, 255); 
    height: 100vh;
    width: 100%;
}
h1{
    margin-inline: 10px;
    font-family: lemon;
    font-size: 30px;
    color:  rgb(97, 5, 5);
}

.chapters{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(8, 60px);
}

.chapters button{
    
    background-color:rgb(205, 203, 203);
    color: black;
    width: 45px;
    height: 30px;
    font-weight: bold;
    margin-block: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 3px;

}


@media (max-width: 480px) {
   .chapters{
    grid-template-columns: repeat(6, 60px);
   }
  }
  
  /* Media query for iPads and Tablets (481px - 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
   
  }