@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lemon&family=Open+Sans:wght@800&family=Poppins:wght@900&family=Rubik+Doodle+Shadow&display=swap');
*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: black;
}

.index-content{
    /* background-image: url(images/1.jpg); */
background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: fadeIn 4s ease-in-out ;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.index-text{
    font-size: 50px;
    margin: 50px 30px;
    font-family: lemon;
    color: white;
}
.span{
    color: rgb(97, 5, 5);
}

.button{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.btn{
    background-color:#610505;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: Cambria;
    font-size: 17px;
    color:white ;
    font-weight: bolder;
    margin-top: 200px;
    border: none;
}

.btn:hover {
    background-color:transparent;
    color: white;
    border: none;
    transition: 0.5s;
    border: 2px solid white;
}

.index-verse{
 
    font-size: 20px;
    width: 500px;
    color: rgb(201, 196, 196);
    text-align: center;
    font-style: italic;
}



@media (max-width: 480px) {
        .index-verse{
            font-size: 15px;
            width: 65%;
        }
}

/* Media query for iPads and Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .button{
        margin-top: 200px;
    }
}

