@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lemon&family=Open+Sans:wght@800&family=Poppins:wght@900&family=Rubik+Doodle+Shadow&display=swap');

body{
    background-color: white; 
}

/* .verse{
    margin: 30px 0px 0px 30px ;
    display: grid;
    grid-template-columns: repeat(5, 60px);
} */

.verse {
 width: 70%;

margin: 40px 0px 0px 10px ;
}

span{
    margin-right: 10px;
    color: rgb(100, 98, 98);
}
.verse div{
    margin: 20px 20px 30px 0px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lemon;
    color:  rgb(97, 5, 5);
}

button{
    background-color: rgb(97, 5, 5) ;
    color: white;
    border: none;
    margin-inline: 5px;
    padding: 7px 6px;
    font-family: lemon;
    font-size: 10px;
}
.books{
    margin-right: 30px;
}

@media (max-width: 480px) {
    .verse{
        width: 90%;
    }
  }
  
  /* Media query for iPads and Tablets (481px - 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    
  }
  